body {
  margin:0;
  padding:0;
}

#support-dialog {
  position:fixed;
  display:none;
}

#field {
  position:relative;
  width:90%;
  height:80%;
  margin:5%;
  border:2px solid #ccc;
}

.player {
  position:absolute;
  padding:1.5%;
}

#p1 { background:hotpink; }
#p2 { background:limegreen; }
#p3 { background:; }

.goal {
  
}
