@font-face {
  font-family:Outage;
  src:url('../fonts/Outage Cut.ttf');
}

html, body {
  margin:0;
  padding:0;
  background:#000;
}

#support-dialog {
  position:fixed;
  display:none;
}

#debug {
  position:fixed;
  right:0;
  top:0;
}

#menu {
/*  box-sizing:border-box;*/
  margin:10% auto;
}

#menu li {
  text-align:center;
  color:#fff;
  font-size:4em;
  list-style:none;
  font-family:Outage;
  line-height:1em;
  margin-bottom:1.5%;
}

#menu li span {
  padding:10px 10px 0;
}

#menu li .selected {
  background-color:#39fe1b;
  color:#000;
}

#menu li .selected.flash {
  background-color:#fa0199;
}